.banner{
    display: flex;
    justify-content: center;
    align-items: center;
   &_image{
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 43px;
    width: 92%;
    background-color: black;
    mix-blend-mode: darken;
    filter: brightness(0.5)
   } 
   &_title{
    position: absolute;
    color: white;
    font-family: 'Montserrat';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
   }
}