
.location{
    width: 95%;
    margin: 0 50px;
    border-radius: 25px;
    background-color: #F6F6F6;
 &__liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
 }
}

.card{
    width: 33%;
 &__figure{
    display: flex;
    border-radius: 25px;
 }
 &__image{
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 25px;
 }
 &__figcaption{
    position: absolute;
    z-index: 1;
 }
 &__title{
    color: white;
    font-size: 15px;
    margin-left: 9px;
    margin-top: 204px;
    width: 47%;
 }
}

@media(max-width : 768px){
   .location{
      padding: 0;
      margin: 0 0 112px 0;
      width: 100%;
      background-color: transparent;
     &__liste{
      padding: 0;
      flex-direction: column;
      align-items: center;
     } 
   }

   .card{
      width: 100%;
     &__figure{
         margin: 16px 8px;
     }
     &__cover{
      height: 400px;
     } 
   }
}